





/* .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
} */

/* Флекс-сетка */

/* .card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
} */

/* Header */
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .header {
  border-bottom: 1px solid var(--border-color);
}
/* 
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .header__container {
  display: flex;
  align-items: center;
} */ */

/* Логотип */

/* .nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav__link {
  margin-right: 92px;
} */

/* .logo {
  transition: color var(--animation-fast);
  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--dark-color {
  color: var(--logo-color);
} */

/* Навигация */

/* .site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
  position: relative;
}

.site-nav__item:last-child {
  margin: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation-fast);

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link--current {
  transition: color var(--animation-fast);

  color: var(--accent-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__link--current::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
} */

/* .auth-nav {
  display: flex;
}

.auth-nav__item {
  transition: color var(--animation-fast);
}

.auth-nav__item:first-child {
  margin-right: 50px;
}

.auth-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation-fast);

  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover,
.site-nav__link:focus,
.auth-nav__item:hover,
.auth-nav__item:focus,
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-text-color);
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

Main */
/* Кнопка */

.hero-section {
  padding: 200px 0;
  text-align: center;

  background-color: var(--background-color);

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/image-hero/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section__caption {
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  color: var(--bgc-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section__button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: color var(--animation-fast), background-color var(--animation-fast);
  
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
      letter-spacing: 0.06em;
   border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-section__button:hover,
.hero-section__button:focus {
  color: var(--accent-text-color);
  background-color: var(--button-color);
}

/* Особенности */



.aside__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--content-color);
  border-radius: 4px;
}

.third-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.aside__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.aside__text {
  line-height: 1.71;
}

/* Что мы делаем */

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about {
  padding-top: 0;
  --items: 3;
}

.about__container {
  position: relative;
  padding: 0;
}

.about__subtitle-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  background: var(--card-title-color);
  width: 100%;
  height: 70px;
}

.about__subtitle {
  color: var(--bgc-color);
}

/* Команда */

.content {
  background-color: var(--content-color);
}

.content__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.content__team {
  padding: 30px 0;
}

.content__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.content__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media__list {
  width: 44px;
  height: 44px;
}

.social-media__list:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color var(--animation-fast), background-color var(--animation-fast);
}

.social-media__link--light{
  background-color: var(--bgc-color);
  color: var(--icon-color);
}

.social-media__icon--light {
  fill: currentColor;
}

.social-media__link--light:hover,
.social-media__link--light:focus {
  background-color: var(--accent-text-color);
  color: var(--bgc-color);
}

.social-media__icon--light:hover,
.social-media__icon--light:focus {
  color: var(--bgc-color);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer__link {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 20px;
}

.logo--light-color {
  color: var(--bgc-color);
}


.contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact {
  color: var(--bgc-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color var(--animation-fast);
}

.contact__link {
  color: var(--mail-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color var(--animation-fast);
}


.contact__link--active:hover,
.contact__link--active:focus {
  color: var(--accent-text-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.adress-container {
  margin-right: 70px;
}

.page {
  width: 206px;
  margin-right: 93px;
}

.page__title {
  margin-bottom: 20px;

  color: var(--bgc-color);
}

.social-media__link--dark {
  color: var(--bgc-color);
  background-color: var(--footer-icon-color);
}

.social-media__icon--dark {
  fill: currentColor;
}

.social-media__link--dark:hover,
.social-media__link--dark:focus {
  background-color: var(--accent-text-color);
}

.form-container {
  width: 570px;
}

.form-field {
  display: flex;
}

.form-field__input-mail {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--bgc-color);
  transition: backdrop-color var(--animation-fast);
  outline: transparent;
}

.form-field__input-mail:focus {
  border-color: var(--accent-text-color);

}

.form-field__input-mail:focus .form-field__input-mail::placeholder {
  color: var(--accent-text-color);
  transform: translateY(-100%) scale(0.6);
}

.form-field__input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--mail-color);
}

.form-field__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: transform var(--animation-fast);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bgc-color);
}

.form-field__text-btn {
  margin-right: 10px;
}

/* Постоянные клиенты */

.client__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.client__item {
  width: 170px;
  height: 92px;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  transition: color var(--animation-fast);
}

.client__icon {
  fill: currentColor;
}

.client__link:hover,
.client__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

/* Портфолио */

.portfolio {
  --items: 3;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__list {
  margin-right: 8px;
}

.filter__list:last-child {
  margin-right: 0;
}

.filter__button {
  color: var(--title-text-color);
  background-color: var(--content-color);
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
  transition: box-shadow var(--animation-fast),
    background-color var(--animation-fast), color var(--animation-fast);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--active {
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Card */

.card__container {
  padding: 20px 24px;
  border: 1px solid var(--border-card-list);
  border-top: none;
}

.card__title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__subtitle {
  font-size: 16px;
  line-height: 1.88;
}

.card__link {
  display: block;
  transition: box-shadow var(--animation-fast);
  background: var(--bgc-color);
  border: 1px solid var(--border-card-list);
}

.card__link:hover,
.card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overley {
  position: relative;
  overflow: hidden;
}

.overley__text {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  transition: opacity var(--animation-fast), transform var(--animation-fast);
  opacity: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--bgc-color);
  background: var(--description-color);
}

.card__link:hover .overley__text,
.card__link:focus .overley__text {
  transform: translateY(0);
  opacity: 1;
  overflow: visible;
}

/* Модальное окно */

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: opasity var(--animation-fast), visibility var(--animation-fast);
}

.backdrop.is-hidden .modal {
  transform: scale(0.9);
}

.modal {
  position: absolute;
  transition: transform var(--animation-fast);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--bgc-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
    position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--bgc-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform var(--animation-fast);
}

.modal__icon {
  fill: var(--logo-color);
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: var(--accent-text-color);
}


.form-modal {
  display: block;
  flex-direction: column;
  padding: 40px;
}

.form-wrapper {
  width: 448px;
  display: block;
  flex-direction: column;
}

.form-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.form-wrapper__label {
  display: block;
  margin-bottom: 4px;
}

.form-modal__text {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form-wrapper__container {
  position: relative;
}

.form-wrapper__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--animation-fast);
}

.form-wrapper__icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  fill: var(--title-text-color);
}


.form-wrapper__input:focus {
  border-color: var(--accent-text-color);
}


.form-wrapper__input:focus~.form-wrapper__icon {
  fill: var(--accent-text-color);
}

.comment__page {
  height: 120px;
  resize: none;
  padding: 12px 16px;
margin-bottom: 20px;
}

.comment__page::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}

.form-wrapper__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__input:checked+.checkbox__custom {
  background-color: var(--accent-text-color);
  outline-color: var(--accent-text-color);
}

.checkbox__input:focus+.checkbox__custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checkbox__custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: outline-color var(--animation-fast), background-color var(--animation-fast);
}

.checkbox__icon {
  fill: var(--bgc-color);
}

.checkbox__text {
  line-height: 1.71;
  color: var(--primery-text-color);
  user-select: none;
}

.checkbox__link {
  color: var(--accent-text-color);
  transition: transform var(--animation-fast);
}

.form-button {
   width: 200px;
  height: 50px;
  margin: auto;
  border: none;
  transition: color var(--animation-fast),
    background-color(--animation-fast);

  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bgc-color);
}

.form-button:hover,
.form-button:focus {
  color: var(--button-color);
  background-color: var(--button-color);
}

