.form-field {
    display: flex;
}

.form-field__input-mail {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--bgc-color);
    transition: backdrop-color var(--animation-fast);
    outline: transparent;
}

.form-field__input-mail:focus {
    border-color: var(--accent-text-color);

}

.form-field__input-mail:focus .form-field__input-mail::placeholder {
    color: var(--accent-text-color);
    transform: translateY(-100%) scale(0.6);
}

.form-field__input-mail::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--mail-color);
}

.form-field__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: transform var(--animation-fast);

    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bgc-color);
}

.form-field__text-btn {
    margin-right: 10px;
}