.logo {
    transition: color var(--animation-fast);
    color: var(--accent-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo--dark-color {
    color: var(--logo-color);
}

.logo--light-color {
    color: var(--bgc-color);
}